:root {
  --color-primary: #314efe;
  --color-purple-gray: #6a7ce2;
  --color-cta: #ffab02;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #1a237e;
}

p {
  color: var(--color-purple-gray);
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

.heading-secondary,
.heading-tertiary {
  font-weight: 400;
}

.heading-secondary {
  font-size: 4.4rem;
  margin-bottom: 1.6rem;
  line-height: 1.2;
}

.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.6;
}

.subheading {
  display: block;
  /* font-size: 1.05rem; */
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: 1rem;
}

.subheading-purple {
  color: var(--color-purple-gray);
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 1rem 1.4rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}

.btn-cta:link,
.btn-cta:visited {
  background-color: var(--color-cta);
  color: #fff;
}

.btn-cta:hover,
.btn-cta:active {
  background-color: #e69a02;
}

/* Layout */
.grid {
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;
}

.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--2--rows {
  grid-template-rows: repeat(2, 1fr);
}

/* Helpers  */
.txt-cl-blue {
  color: var(--color-primary);
}

.m-l-20 {
  margin-left: 2rem;
}
