/* BELOW 1200px*/
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .grid {
    column-gap: 1rem;
    row-gap: 1rem;
  }

  .about {
    gap: 5rem;
  }
}

/* BELOW 960px*/
@media (max-width: 60em) {
  html {
    font-size: 50%;
  }

  .about {
    grid-template-columns: 1fr;
    text-align: center;
    justify-self: center;
  }
}

/* BELOW 560px*/
@media (max-width: 35em) {
  .grid--2--cols {
    grid-template-columns: 1fr;
  }

  .benefit:nth-child(odd) {
    margin-top: 0;
  }
}
